
body{
  display: flex;
  justify-content: center;
}

.LetterU {
font-size: 350px;
position: fixed;
top: 100px;
}

a {
  position: fixed;
  bottom: 50px;
  top: auto;
}


.LetterC {font-family: "rad", sans-serif;	font-weight: 400;
	font-size: 150px;
    background-color: pink;
}

#skater {  display: flex;
offset-path: path("M 0 100 Q 150 600 300 100");
animation: skate 1s infinite ease-in-out alternate;
}


@keyframes skate {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
