body{background-color: orchid;

}

h1{font-size: 200px;



}

h2{font: serif;



}
p{ font: sans-serif;

}

#Letters {
	font-family: rad;
	font-size: 100px;
}
#img1{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 500px;
  width: 500px;
}